.Burger {
  width: 100%;
  height: 350px;
  font-weight: bold;
  /* overflow: scroll; */
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 700px;
    height: 700px;
  }
}
@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 350px;
    height: 300px;
  }
}
