.CheckoutSummary {
  text-align: center;
  margin-top: 100px;
}
.BoxData {
  border: 1px solid #eee;
  width: 80%;
  margin: auto;
  box-shadow: 0 2px 3px #ccc;
}

.FormData {
  display: grid;
  text-align: center;
}

input {
  padding: 10px;
  margin: 5px auto;
  width: 50%;
}
h4 {
  text-align: center;
}

.FinishOrder {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}
