.Toolbar {
  background-color: brown;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 500;
}

@media (max-width: 500px) {
  .DesktopOnly {
    display: none;
  }
}
