.Toolbar {
  background-color: brown;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
  padding: 10px;
}
