.NavigationItem {
  list-style: none;
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
}

.NavigationItem a {
  margin: 5px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  display: block;
  color: white;
  padding: 16px 10px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  background-color: #8f5c2c;
  border-bottom: 4px solid #40a4ac;
}
