.ToolbarMobile {
  position: fixed;
  height: 100%;
  width: 200px;
  max-width: 70%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: brown;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3ms ease-out;
}

@media (min-width: 500px) {
  .ToolbarMobile {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}
.Close {
  transform: translateX(-100%);
}

.LogoMobile {
  height: 11%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
