.ToolbarMobile {
  position: fixed;
  height: 100%;
  width: 200px;
  max-width: 70%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: brown;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.5s ease-out;
}

.BackgroundColor {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 1s ease-out;
}

.MobileLogo {
  width: 50px;
}

@media (min-width: 500px) {
  .ToolbarMobile {
    display: none;
  }
  .BackgroundColor {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}
.Close {
  transform: translateX(-100%);
}

.LogoMobile {
  height: 11%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
